.container{
margin-left:auto;
margin-right:auto;
width:1000px;
	margin-bottom:10px;
	text-align:left;
	padding:10px;
	border:0px dotted gray !important;
	background:#fff !important;
}
.image {float:left;}

.test {float:left;background-color:#ddd;padding:20px;width:960px;margin:0px 0px 10px 0px;}
.comment {float:right;width:140px;height:15px;margin:-40px 20px 0px 0px !important;}

.heading {
float:right;
width:645px;
height:auto;
background:#fff;
padding:0px;
margin-bottom:10px;
}
.heading h3 {color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 18px;
	line-height: 20px;
	text-transform: none;
	margin-top:0px;
	}
	
	@media only screen and (max-width:999px) {
.container {width:auto;height:auto;}
.test {float:left;width:810px !important;background-color:#ddd;padding:5px;margin:10px 0px 20px 0px;}
.comment {float:right;margin-top:-20px !important;}

.heading {float:right;width:480px;}
.heading h3 {font-size: 17px;}
}
@media only screen and (max-width:870px) {
.container {width:auto;height:800px;}
.test{float:left;background-color:#ddd; width:730px !important;margin:110px 0px 10px 0px !important;}
.comment {float:right;margin:-30px 0px 10px 0px !important;}
.heading {
float:right;
width:auto;
height:160px;
margin:0px 0px 10px 0px;
	background:#fff;
	line-height: 19px;}
.heading h3 {font-size: 15px;padding:5px 0px 0px 0px !important;}
.menu-top {margin:0px 0px 0px 0px !important;}	
		 }


@media only screen and (max-width:790px) {
.heading {float:left !important;width: 340px;padding:0px 0px 10px 5px !important; line-height: 19px !important; height:auto;margin-bottom:-10px;}

.test {float:left; width:340px !important;margin:10px 0px 10px 0px !important;}
.comment {margin:-20px 55px 0px 0px !important;}

.menu-top {float:left !important;margin:0px 0px 0px 0px !important;font-size:18px !important;}

.menu-bottom {margin: 0px 0px 0px 0px !important;}

}


.header {background-color:#3B5998;padding:5px !important;}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.menu-top {
height:30px;
font-size:22px;
float:right;
margin:-60px 0px 0px 0px;
width:460px;
border:0px solid red !important;
}
.menu-top ul {
display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3B5998;
}

.menu-top li {
  float: left;
}

.menu-top li a {
    color: white;
  text-align: center;
  padding: 14px 14px 18px 14px;
  text-decoration: none;
}
.menu-top li a:hover {
  background-color: #111;
}

.menu-top .active {
  background-color: red;
}

.menu-bottom {
margin-left:auto;
margin-right:auto;
width:500px;
padding-left:10px;
}
.menu-bottom ul {
display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3B5998;
}

.menu-bottom li {
  float: left;
}

.menu-bottom li a {
    color: white;
  text-align: center;
  padding: 14px 14px 18px 14px;
  text-decoration: none;
}
.linkcolor a {color:red !important; }

.menu-bottom li a:hover {
  background-color: #111;
}

.menu-bottom .active {
  background-color: red;
}
.navbar-collapse .social-links  {
margin-left:30px;
}
.archive {}