#container header {border:1px solid black;padding:0px 5px 0px 5px;background:#ffd;}

#container nav ul li {background:#fff;}
#container nav ul l1 {color:white;}
#container nav ul li a:link {color: red !important;}
#container nav ul li a:visited {color: blue !important;}
#container nav ul li a:hover {color: green  !important;}
#container nav ul li a.active {border-bottom: 0.05em solid red;}


@media only screen and (max-width:400px) {
#container nav {width:300px;height:200px;}
#container nav  {
font-size: 12px;
white-space: normal;
    float: left;
    width: 88%;
    height: auto;
    word-wrap: break-word;}
}

.menu-bottom {

margin-left:auto;
margin-right:auto;
width:500px;
padding-left:10px;

}
.menu-bottom ul {

display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3B5998;
}

.menu-bottom li {
  float: left;
}

.menu-bottom li a {
    color: white;
  text-align: center;
  padding: 14px 14px 18px 14px;
  text-decoration: none;
}
.linkcolor a {color:red !important; }

.menu-bottom li a:hover {
  background-color: #111;
}

.menu-bottom .active {
  background-color: red;
}